{% extends 'layout.html.twig' %}

{% block container_content %}
	<h2>{% if value is defined %}Edit{% else %}Add{% endif %} your Where About for the week {{ currentWeek }}</h2>

  <form class="form-horizontal" id="where-form" action="{{ app.request.basepath }}/save" method="post">
    <input type="hidden" name="o" value="{{ offset }}">
    <input type="hidden" name="_id" value="{% if value is defined %}{{ value._id }}{% endif %}">
    <div class="control-group">
      <label class="control-label" for="inputWho">Who <span class="required">*</span></label>
      <div class="controls">
        <input type="text" name="who" id="inputWho" class="required" value="{% if value is defined %}{{ value.who }}{% endif %}" placeholder="Who are you">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputMondayAM">Monday</label>
      <div class="controls">
        <input type="text" name="monday[am]" id="inputMondayAM" value="{% if value is defined %}{{ value.days.monday.am }}{% endif %}" placeholder="AM or all the day">
        <input type="text" name="monday[pm]" id="inputMondayPM" value="{% if value is defined %}{{ value.days.monday.pm }}{% endif %}" placeholder="PM">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputTuesdayAM">Tuesday</label>
      <div class="controls">
        <input type="text" name="tuesday[am]" id="inputTuesdayAM" value="{% if value is defined %}{{ value.days.tuesday.am }}{% endif %}" placeholder="AM or all the day">
        <input type="text" name="tuesday[pm]" id="inputTuesdayPM" value="{% if value is defined %}{{ value.days.tuesday.pm }}{% endif %}" placeholder="PM">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputWednesdayAM">Wednesday</label>
      <div class="controls">
        <input type="text" name="wednesday[am]" id="inputWednesdayAM" value="{% if value is defined %}{{ value.days.wednesday.am }}{% endif %}" placeholder="AM or all the day">
        <input type="text" name="wednesday[pm]]" id="inputWednesdayPM" value="{% if value is defined %}{{ value.days.wednesday.pm }}{% endif %}" placeholder="PM">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputThursdayAM">Thursday</label>
      <div class="controls">
        <input type="text" name="thursday[am]" id="inputThursdayAM" value="{% if value is defined %}{{ value.days.thursday.am }}{% endif %}" placeholder="AM or all the day">
        <input type="text" name="thursday[pm]" id="inputThursdayPM" value="{% if value is defined %}{{ value.days.thursday.pm }}{% endif %}" placeholder="PM">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputFridayAM">Friday</label>
      <div class="controls">
        <input type="text" name="friday[am]" id="inputFridayAM" value="{% if value is defined %}{{ value.days.friday.am }}{% endif %}" placeholder="AM or all the day">
        <input type="text" name="friday[pm]" id="inputFridayPM" value="{% if value is defined %}{{ value.days.friday.pm }}{% endif %}" placeholder="PM">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">      
        <button type="submit" class="btn btn-info">Save</button>
        <button type="reset" class="btn btn-danger">Reset</button>
        &nbsp;&nbsp;&nbsp;<a href="{{ app.request.basepath }}/?o={{ offset }}">Back</a>
      </div>
    </div>
  </form>
{% endblock %}